<mat-card class="card-site main-panel-content-card">
  <div class="card-site-header card-site-header--green">
    <h2>Редактировать контакт</h2>
    <span>Telegram</span>
  </div>
  <div class="card-site-body">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
    >
      <mat-form-field>
        <mat-label>Название</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="form.get('name').hasError('required') && form.get('name').touched">
          <strong>Название</strong> обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" class="button-submit" type="submit" [disabled]="form.invalid || (isSubmitting$ | async)">Редактировать</button>
      </div>
    </form>
  </div>
</mat-card>
