.customers {
  &-card {
    display: flex;
    align-items: center;

    &-title {
      font-weight: 600;
      font-size: 18px;
      margin-right: 20px;
    }
  }
}

.input-field {
  margin-right: 30px;
}
