<mat-spinner *ngIf="(isLoading$ | async); else success"></mat-spinner>
<ng-template #success>
<div class="customer" *ngIf="(currentCustomer$ | async)[0] as customer">
  <div class="row">
    <mat-card class="customer-card">
      <div class="customer-card-row">
        <span class="customer-card-span">ФИО:</span>
        <strong class="customer-card-strong">{{ customer.surname + ' ' + customer.name + ' ' + customer.patronym }}</strong>
      </div>
      <div class="customer-card-row">
        <span class="customer-card-span">Дата рождения:</span>
        <strong class="customer-card-strong">{{ customer.birthday | date : 'dd.MM.y' }}</strong>
      </div>
      <div class="customer-card-row">
        <span class="customer-card-span">Дата добавления:</span>
        <strong class="customer-card-strong">{{ customer.createdAt | date : 'dd.MM.y' }}</strong>
      </div>
      <div class="customer-card-row">
        <span class="customer-card-span">Добавил:</span>
        <strong class="customer-card-strong">
          <a [routerLink]="['/dashboard', 'users', customer.createdById]">{{ customer.createdByLogin }}</a>
        </strong>
      </div>
      <div class="customer-card-row">
        <span class="customer-card-span">Ответственный:</span>
        <strong class="customer-card-strong">
          <a [routerLink]="['/dashboard', 'users', customer.assignedUserId]">{{ customer.assignedUserLogin[0].login }}</a>
        </strong>
      </div>
      <div class="customer-card-row">
        <span class="customer-card-span">Не беспокоить:</span>
        <span>{{ customer.doNotCall ? 'Да' : 'Нет' }}</span>
      </div>
    </mat-card>
    <a [routerLink]="['/dashboard', 'customers', 'edit', customer._id]" class="customer-link-btn">
      <button mat-raised-button color="accent">
        <mat-icon class="icon-color--white" matPrefix>edit</mat-icon>
        Редактировать
      </button>
    </a>
    <button mat-raised-button color="warn" (click)="onRemove(customer._id)">
      <mat-icon class="icon-color--white" matPrefix>delete</mat-icon>
      Удалить
    </button>
  </div>
  <div class="row">
    <mat-card class="customer-info">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Основная информация">
          <div class="information">
            <div class="information__col">
              <div class="information-card">
                <h3 class="information-card__title">Адрес</h3>
                <div class="information-card__body">
                  <div class="information-card__row">
                    <span class="information-card__name">Почтовый индекс:</span>
                    <span class="information-card__value">{{ customer.addressPostalCode }}</span>
                  </div>
                  <div class="information-card__row">
                    <span class="information-card__name">Город:</span>
                    <span class="information-card__value">{{ customer.addressCity }}</span>
                  </div>
                  <div class="information-card__row">
                    <span class="information-card__name">Улица:</span>
                    <span class="information-card__value">{{ customer.addressStreet }}</span>
                  </div>
                  <div class="information-card__row">
                    <span class="information-card__name">Дом:</span>
                    <span class="information-card__value">{{ customer.addressHome }}</span>
                  </div>
                  <div class="information-card__row">
                    <span class="information-card__name">Квартира:</span>
                    <span class="information-card__value" [class.information-card__value_no]="!customer.addressRoom">{{ customer.addressRoom ? customer.addressRoom : 'нет' }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="information__col">
              <div class="information-card">
                <h3 class="information-card__title">Контакты</h3>
                <div class="information-card__body">
                  <div class="information-card__row">
                    <span class="information-card__name">Электронная почта:</span>
                    <span class="information-card__value">
                      <a href="mailto:{{customer.email}}" class="information-card__link">{{ customer.email }}</a>
                    </span>
                  </div>
                  <div class="information-card__row" *ngFor="let phone of customer.phones">
                    <span class="information-card__name">Телефон:</span>
                    <span class="information-card__value">
                      <a href="tel:{{phone}}" class="information-card__link">{{ phone }}</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="information__col">
              <div class="information-card">
                <h3 class="information-card__title">Социальные сети и мессенджеры</h3>
                <div class="information-card__body">
                  <div class="information-card__row" *ngFor="let contact of customer.contactsList">
                    <span class="information-card__name">{{ contact.name }}:</span>
                    <span class="information-card__value" [class.information-card__value_no]="!contact.value">{{ contact.value ? contact.value : 'нет' }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="information__row">
              <div class="information-card">
                <h3 class="information-card__title">Описание</h3>
                <div class="information-card__body">
                  <div class="information-card__text">
                    {{ customer.description ? customer.description : 'Нет данных.'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Документы">2</mat-tab>
        <mat-tab label="Сделки">3</mat-tab>
        <mat-tab label="Задачи">4</mat-tab>
        <mat-tab label="История">5</mat-tab>
        <mat-tab label="Статистика">6</mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
</ng-template>
