.mat-form-field {
  &--more {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
}

p {
  margin: 25px 0 20px;
  text-align: center;

  a {
    font-weight: 500;
    text-decoration: none;
    color: #0954de;
  }
}
