/* You can add global styles to this file, and also import other style files */

@import "normalize";

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-row {
  display: flex;
  justify-content: space-between;

  &--center {
    justify-content: space-around;
  }
}

.button-submit {
  &.mat-raised-button {
    display: block;
    margin: 20px auto 0;
  }
}

.social-input-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-icon {
  color: #000;
  font-size: 24px;

  &-button {
    font-size: initial;
  }
}

.mat-form-field--fill {
  width: 100%;
}

.icon-color {
  &--white {
    color: #fff;
  }
}

// snackbar styles

.mat-snack-bar-container {
  &.backend-errors {
    width: 530px;
  }
}

.mat-snack-bar-container {
  &.success-messages {
    background: #49e89b;
    color: #115f17;

    .mat-simple-snackbar-action {
      color: #1d1618;
    }
  }
}

// /* snackbar styles

// phones input

.phones {
  &-title {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  &-row {
    display: flex;
    align-items: center;
  }
  &-btn {
    &--remove.mat-mini-fab {
      margin-left: 15px;
    }
  }
}

// */ phones input

.img-input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

// card-site
.card-site {
  width: 50%;
  margin: 100px auto 0; // TODO - перенести потом

  &-header {
    border-radius: 3px;
    margin-top: -30px !important;
    padding: 15px;
    position: relative;
    z-index: 3;
    color: #333;
    background: linear-gradient(60deg, #ffd740, #d6bb4f);

    &--green {
      color: #fff;
      background: linear-gradient(60deg, #66bb6a, #43a047);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    }

    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 24px;
      text-align: center;
    }

    span {
      display: block;
      margin-top: 10px;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &-body {
    padding: 20px;
  }
}
// */ card-site
