/* You can add global styles to this file, and also import other style files */

@import "normalize";

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// display

.d {
  &-n {
    display: none;
  }
}

// */ display

// tables

th {
  &.th-center {
    text-align: center;

    &.mat-header-cell {
      text-align: center;
    }
  }
}

td {
  &.mat-cell {
    &--center {
      text-align: center;

      & > * {
        display: inline-block;
      }
    }
  }
}

tr {
  &.row-h {
    &-50 {
      height: 50px;
    }
  }
}

table {
  &.table {
    &-w-650 {
      width: 650px;
      margin: auto;
      margin-bottom: 30px;
    }
  }
}

// */ tables

.form-row {
  display: flex;
  justify-content: space-between;

  &--center {
    justify-content: space-around;
  }
}

.button-submit {
  &.mat-raised-button {
    display: block;
    margin: 20px auto 0;
  }
}

.social-input-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-icon {
  color: #000;
  font-size: 24px;

  &-button {
    font-size: initial;
  }
}

.mat-form-field--fill {
  width: 100%;
}

.icon-color {
  &--white {
    color: #fff;
  }
}

// snackbar styles

.mat-snack-bar-container {
  &.backend-errors {
    width: 530px;
  }
}

.mat-snack-bar-container {
  &.success-messages {
    background: #49e89b;
    color: #115f17;

    .mat-simple-snackbar-action {
      color: #1d1618;
    }
  }
}

// /* snackbar styles

// phones input

.phones {
  &-title {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  &-row {
    display: flex;
    align-items: center;
  }
  &-btn {
    &--remove.mat-mini-fab {
      margin-left: 15px;
    }
  }
}

// */ phones input

.img-input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

// card-site
.card-site {
  width: 50%;
  margin: 100px auto 0; // TODO - перенести потом

  &-header {
    border-radius: 3px;
    margin-top: -30px !important;
    padding: 15px;
    position: relative;
    z-index: 3;
    color: #333;
    background: linear-gradient(60deg, #ffd740, #d6bb4f);

    &--green {
      color: #fff;
      background: linear-gradient(60deg, #66bb6a, #43a047);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    }

    &--blue {
      color: #fff;
      background: linear-gradient(60deg, #26c6da, #00acc1);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    }

    &--red {
      color: #fff;
      background: linear-gradient(60deg, #ef5350, #e53935);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    }

    &--orange {
      color: #fff;
      background: linear-gradient(60deg, #ffa726, #fb8c00);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    }

    &--purple {
      color: #fff;
      background: linear-gradient(60deg, #ab47bc, #8e24aa);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    }

    h2, h3, h4 {
      margin: 0;
      font-weight: 300;
      text-align: center;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 16px;
    }

    span {
      display: block;
      margin-top: 10px;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &-body {
    padding: 20px;
  }
}
// */ card-site

// mat-mini-fab

.btn {
  &-28.mat-mini-fab {
    width: 28px;
    height: 28px;
    display: inline-block;
  }
}

.icon {
  &-28 {
    font-size: 18px;
    margin-top: -8px;
  }
}

// */ mat-mini-fab

.link-create {
  display: table;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 100px;
}

// priority

.priority, .priority--normal {
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #dedede;
  color: #797979;

  &--low {
    background-color: #43a047;
    color: #fff;
  }

  &--high {
    background-color: #fb8c00;
    color: #fff;
  }

  &--urgent {
    background-color: #e53935;
    color: #fff;
  }
}

// */ priority
