.order {
  &-card {
    display: flex;
    margin-right: 50px;

    &-row {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px dashed #aaa;

      &:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }

    &-span {
      display: block;
      font-size: 12px;
      color: #7b6c6c;
      margin-bottom: 5px;
    }

    &-strong {
      font-size: 20px;

      a {
        text-decoration: none;
        color: #2d49e0;
        transition: all 0.3s;

        &:hover {
          color: lighten(#2d49e0, 10%);
        }
      }
    }
  }

  &-info {
    width: 100%;
  }

  &-link-btn {
    margin-right: 20px;
  }

  &__more {
    display: flex;
    align-items: flex-start;
  }

  &__information-card {
    width: 40%;
    margin-left: 30px;
  }

  &__services-list {
    flex-grow: 1;
  }
}

.row {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
