<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-row">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input type="text" formControlName="login" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Скрыть пароль'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' :  'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input type="text" formControlName="surname" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input type="text" formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Отчество</mat-label>
      <input type="text" formControlName="patronym" matInput>
    </mat-form-field>
  </div>

  <div class="form-row form-row--center">
    <mat-form-field>
      <mat-label>Дата рождения</mat-label>
      <input type="date" formControlName="birthday" matInput>
    </mat-form-field>

    <mat-form-field>
      <ngx-mat-file-input [accept]="accept" [placeholder]="'Фото'" formControlName="userImg">
        <mat-icon>attach_file</mat-icon>
      </ngx-mat-file-input>
    </mat-form-field>
  </div>

  <mat-form-field class="mat-form-field--fill">
    <mat-label>Адрес</mat-label>
    <textarea matInput formControlName="address" [matTextareaAutosize]="false" [placeholder]="'650000, г. Кемерово, ул. Советская, 17-15'"></textarea>
  </mat-form-field>
  <div class="form-row form-row--center">
    <div>
      <span class="phones-title">Телефоны:</span>
      <div formArrayName="phones">
        <div class="phones-row" *ngFor="let phone of phoneGroups.controls; let i = index">
          <mat-form-field>
            <mat-label>Телефон</mat-label>
            <span matPrefix>+7 &nbsp;</span>
            <input type="tel" formControlName="{{ i }}" matInput placeholder="900-000-0000">
          </mat-form-field>
          <button class="phones-btn--remove" type="button" mat-mini-fab color="warn" (click)="removePhone(i)" *ngIf="phoneGroups.controls.length > 1">
            <mat-icon class="icon-color--white">{{ hide ? 'close' :  'close'}}</mat-icon>
          </button>
        </div>
      </div>
      <button type="button" mat-mini-fab color="primary" (click)="addPhone()" [disabled]="phoneGroups.invalid">
        <mat-icon class="icon-color--white">add</mat-icon>
      </button>
    </div>

    <div class="social-input-wrapper">
      <span class="phones-title">Соц. сети и мессенджеры:</span>
      <mat-form-field>
        <img src="http://localhost:7777/uploads/social-media-placeholder.png" alt="Whatsapp" matPrefix class="img-input">
        <mat-label>Whatsapp</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <img src="http://localhost:7777/uploads/social-media-placeholder.png" alt="Telegram" matPrefix class="img-input">
        <mat-label>Telegram</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="accent" class="button-submit" type="submit" [disabled]="form.invalid">Зарегистрироваться</button>
</form>
