<a [routerLink]="['/']" class="logo-link">
  <img src="/assets/logo-svg.svg" alt="logo" class="logo-image">
  <span class="logo-title">CRM</span>
</a>

<div class="card-wrap">
  <mat-card class="card-form">
    <nav mat-tab-nav-bar class="card-nav">
      <a mat-tab-link *ngFor="let link of links"
         (click)="activeLink = link.nav;"
         [active]="activeLink === link.nav"
         [routerLink]="['/', link.nav]"
      >{{ link.title }}</a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card>
</div>
