.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-form {
    width: 632px;
    max-width: 632px;
  }

  &-nav {
    margin-bottom: 15px;
  }
}

.logo {
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 60px;
  }

  &-image {
    height: 100px;
    width: 300px;
  }

  &-title {
    color: #FF2B31;
    font-weight: 700;
    font-size: 38px;
    margin-left: 20px;
  }
}
